.form_header {
	display: flex;
	justify-content: space-evenly;
}

.form_header_system {
	padding: 1rem;
	border-radius: 4px;
}

.button_container {
	display: flex;
}

.button_container .next_btn {
	margin-left: auto;
}
