.toggleContainer {
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: 700;
	margin-left: auto;
    /* padding-right: 2rem; */
}

.switch {
	display: inline-block;
	position: relative;
	height: 24px;
	width: 60px;
	background-color: lightgray;
	cursor: pointer;
	transition: 0.4s;
	border-radius: 5px;
}

.toggle {
	margin: 0;
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #ccc;
	border-radius: 5px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 18px;
	left: 4px;
	top: 4px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

.toggle:checked + .slider {
	background-color: rgb(1, 43, 217);
}

.toggle:checked + .slider:before {
	transform: translateX(34px);
}
