.headerContainer {
	display: grid;
	text-align: center;
}

.headerContainer h1 {
	display: flex;
	border-right: solid grey 1px;
	padding: 0.5rem;
	align-items: center;
	justify-content: center;
	line-height: 1.4;
	white-space: nowrap;
}

.headerContainer h1:last-child {
	border: none;
}

.activeSystem {
	padding: 0.5rem;
	background-color: rgb(1, 43, 217);
	color: white;
}
.system {
	background-color: lightgray;
	color: darkslategray;
	padding: 0.5rem;
}
