.headerContainer {
	display: flex;
	justify-content: space-between;
}

.activeSystem {
	padding: 1rem;
	background-color: lightblue;
    border-radius: 3px;
}
.system {
	background-color: lightgray;
	border-radius: 3px;
	color: grey;
	padding: 1rem;
}
