.headerContainer {
	display: grid;
	text-align: center;
}

.headerContainer h1 {
	border-right: solid grey 1px;
}

.headerContainer h1:last-child {
	border: none;
}

.activeSystem {
	padding: 0.5rem;
	background-color: rgb(1, 43, 217);
	color: white;
}
.system {
	background-color: lightgray;
	color: grey;
	padding: 0.5rem;
}
