.containerOptions {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 6px;
	padding: 8px;
	z-index: 9999;
	width: 350px;
	height: 450px;
}
/*Overlay*/

.overlay {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9998;
	transition: all 0.3s;
}
