.label {
	cursor: pointer;
	padding: 1rem;
	text-align: center;
	border: solid 1px lightgrey;
	border-radius: 5px;
	font-weight: 700;
	font-size: 20px;
}

.label:hover {
	background-color: #2549de;
	color: white;
}

.labelActive {
	padding: 1rem;
	text-align: center;
	border: solid 1px lightgray;
	font-weight: 700;
	font-size: 20px;
	background-color: #2549de;
	color: white;
	border-radius: 5px;
}

.label input, .labelActive input {
	display: none;
}
